#akash
{
  background: springgreen;
  text-align: center;
  color: blueviolet;
  font-size: 88px;
  font-style: italic;
}
table.pk
{
    background-color: greenyellow;
    border-color: red crimson;
    text-align: center;
    font-size: 30;
}